<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>User Profile</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../profileStyle.css" />
    <script
      src="https://kit.fontawesome.com/6cb71b80aa.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- navbar -->
    <div class="container-fluid">
      <header
        class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-bottom"
      >
        <a
          href="/home"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <span class="fs-4 ms-3"
            ><i class="fa-solid fa-bus" style="color: #ff0000"></i
          ></span>
          <span class="fs-4 ms-3">Online Bus Booking</span>
        </a>
        <ul class="nav nav-pills justify-content-center flex-grow-1">
          <li class="nav-item">
            <a href="/home" class="nav-link text-danger" aria-current="page"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a href="/buses/list" class="nav-link text-danger">Routes</a>
          </li>
          <li class="nav-item">
            <a href="/buses/add" class="nav-link text-danger">Add Routes</a>
          </li>
          <li class="nav-item">
            <a href="/bookings/view" class="nav-link text-danger">Booking</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link text-danger">About</a>
          </li>
        </ul>
        <div class="profile d-flex align-items-center">
          <div class="dropdown">
            <a
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="ps-2 rounded text-danger"
                ><i class="fa-solid fa-user"></i
              ></span>
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </div>
        </div>
      </header>
    </div>

        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-4 text-center ">
                    <img src="./images/profile-image1.jpg" class="profile-image"/>
              </div>
              <div class=" user-details col-md-8">
                <div class="row">
                  <div class="card-detail">
                        <span><strong>Username: </strong>
                          <span th:text="${username}">Username</span></span>

                        <span><strong>Email: </strong>
                          <span th:text="${email}">Email</span></span>                                     
                    </div>
                    <div class="card-detail">
                            <span><strong>First Name: </strong>
                            <span th:text="${user.firstname}">First Name</span></span>

                            <span><strong>Last Name: </strong>
                            <span th:text="${user.lastname}">Last Name</span></span> 

                            <span><strong>DOB </strong>
                              <span th:text="${user.dob}">DOB</span></span>                                  
                    </div>
                    
                    <div class="card-detail">
                            <span><strong>Gender: </strong>
                              <span th:text="${user.gender}">Gender</span></span>

                            <span><strong>Occupation:</strong>
                              <span th:text="${user.occupation}">Occupation</span></span>                                  
                      </div>
                      <div class="card-detail">
                              <span><strong>Address: </strong>
                                <span th:text="${user.address}">Address</span></span>

                              <span><strong>Phone Number:</strong>
                                <span th:text="${user.phonenumber}">Phone Number</span></span>                                  
                        </div>                  
                    <a href="/user/update" class="btn btn-outline-secondary mt-5">Update Details</a>
                 </div>
              </div>
            </div>
                       
   

          <h3 class="text-danger fw-bold fs-2 ms-4 mt-5">Booking History</h3>
          <div th:if="${bookings != null}">
            <div th:each="booking : ${bookings}" class="container-fluid border border-4 border-danger-subtle rounded-5 p-3 mt-4">
              <div class="card-detail">
                  <span><strong>Bus Number </strong>
                    <span th:text="${booking.busnumber}">Bus Number</span></span>

                  <span><strong>From </strong>
                    <span th:text="${booking.arrival}">arrival</span></span>

                  <span><strong>To </strong>
                    <span th:text="${booking.destination}">destination</span></span>                                                                       
              </div>
              <div class="card-detail"> 
                <span><strong>Passenger Name </strong>
                  <span th:text="${booking.passengername}">Passenger Name</span></span>          

                <span><strong>No of Passengers </strong>
                  <span th:text="${booking.numberofpassengers}">Number</span></span>                                                 
            </div>
              <div class="card-detail"> 
                <span><strong>Address </strong>
                  <span th:text="${booking.address}">Address</span></span>  

                <span><strong>Email </strong>
                  <span th:text="${booking.email}">Email</span></span>

                <span><strong>Phone Number </strong>
                  <span th:text="${booking.phonenumber}">Phone Number</span></span>                                   
                </div>
            </div>       
          </div>
          
          </div>        

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const buttons = document.querySelectorAll(".book-button");
            buttons.forEach(button => {
                button.addEventListener("click", function() {
                    const busnumber = this.getAttribute("data-busnumber");
                    window.location.href = `/bookings/book?busnumber=${busnumber}`;
                });
            });
        });
    </script>
  </body>
</html>
