<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Update User Details</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../formstyle.css" />
    <script
      src="https://kit.fontawesome.com/6cb71b80aa.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <!-- navbar -->
    <div class="container-fluid">
      <header
        class="d-flex flex-wrap justify-content-between align-items-center py-3 mb-4 border-bottom"
      >
        <a
          href="/home"
          class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
        >
          <span class="fs-4 ms-3"
            ><i class="fa-solid fa-bus" style="color: #ff0000"></i
          ></span>
          <span class="fs-4 ms-3">Online Bus Booking</span>
        </a>
        <ul class="nav nav-pills justify-content-center flex-grow-1">
          <li class="nav-item">
            <a th:href="@{/home}" class="nav-link text-danger" aria-current="page"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a th:href="@{/buses/list}" class="nav-link text-danger">Routes</a>
          </li>
          <li class="nav-item">
            <a href="/buses/add" class="nav-link text-danger">Add Routes</a>
          </li>
          <li class="nav-item">
            <a href="/bookings/view" class="nav-link text-danger">Booking</a>
          </li>
          <li class="nav-item">
            <a href="/about" class="nav-link text-danger">About</a>
          </li>
        </ul>
        <div class="profile d-flex align-items-center">
          <div class="dropdown">
            <a
              href="#"
              class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span class="ps-2 rounded text-danger"
                ><i class="fa-solid fa-user"></i
              ></span>
            </a>
            <ul class="dropdown-menu text-small shadow">
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </div>
        </div>
      </header>
    </div>
    <main>

        <div class="reg-container">
            <h2 class="text-center mb-5 ps-4 pe-4 text-danger text-capitalize fw-medium">Update User Details<br><a class="btn btn-outline-danger mt-3 ps-4 pe-4" href="/profile">
                Profile</a></h2>
            
            <div class="register-form ms-0 mb-5">                
              <form class="formMove row needs-validation" th:action="@{/user/update}" th:object="${user}" method="post" novalidate>
                <div class="row">
                    <div class="col-md-5 mt-2">
                        <label for="validationCustom05" class="form-label fs-4"
                        >First Name</label>
                        <input
                        type="text"
                        class="form-control"
                        id="validationCustom05"
                         name="firstname" th:field="*{firstname}"
                        required />
                        <div class="invalid-feedback">
                        please provide First name.
                        </div>
                    </div>
                    <div class="col-md-5 mt-2">
                        <label for="validationCustom05" class="form-label fs-4"
                        >Last Name</label>
                        <input
                        type="text"
                        class="form-control"
                        id="validationCustom05"
                        name="lastname" th:field="*{lastname}"
                        required />
                        <div class="invalid-feedback">
                            please provide Last name.
                        </div>
                    </div>
                </div>
                <div class="row ">
                  <div class="col-md-5 mt-4">
                    <label for="validationCustomUsername" class="form-label fs-4"
                      >Date of Birth</label
                    >
                    <div class="input-group has-validation">
                      <input
                        type="date"
                        class="form-control"
                        id="validationCustomUsername"
                        aria-describedby="inputGroupPrepend"
                        name="dob" th:field="*{dob}"
                        required
                      />
                      <div class="invalid-feedback">provide a starting point.</div>
                    </div>
                  </div>
                  <div class="col-md-5 mt-4">
                    <label for="validationCustom04" class="form-label fs-4"
                      >Sex</label
                    >
                    <select
                      class="form-select"
                      id="validationCustom04"
                      name="gender" th:field="*{gender}"
                      required
                    >
                        <option value=""></option>
                      <option selected disabled value="">Choose...</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                      <option value="other">Other</option>
                    </select>
                    <div class="invalid-feedback">Please select a gender.</div>
                  </div>
                </div>
                <div class="row ">
                    <div class="col-md-5 mt-4">
                      <label for="validationCustomUsername" class="form-label fs-4"
                        >Occupation</label
                      >
                      <div class="input-group has-validation">
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustomUsername"
                          aria-describedby="inputGroupPrepend"
                          name="occupation" th:field="*{occupation}"
                          required
                        />
                        <div class="invalid-feedback">provide a Occupation.</div>
                      </div>
                    </div>
                    <div class="col-md-5 mt-4">
                      <label for="validationCustomUsername" class="form-label fs-4"
                        >Address</label
                      >
                      <div class="input-group has-validation">
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustomUsername"
                          aria-describedby="inputGroupPrepend"
                          name="address" th:field="*{address}"
                          required
                        />
                        <div class="invalid-feedback">provide a Address.</div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  <div class="col-md-5 mt-4">
                    <label for="validationCustom05" class="form-label fs-4"
                      >Phone Number</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="validationCustom05"
                      name="phonenumber" th:field="*{phonenumber}"
                      required
                    />
                    <div class="invalid-feedback">
                      provide a Phone Number.
                    </div>
                  </div>
                </div>                
                <div class="col-12 mt-4">
                  <div class="form-check">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="invalidCheck"
                      required
                    />
                    <label class="form-check-label fs-6" for="invalidCheck">
                      Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                </div>
                <div class="col-12 mt-4">
                  <button class="btn btn-outline-success ps-4 pe-4" type="submit" value="save">
                    Update
                  </button>
                </div>
              </form>
            </div>
        </div>

      
    </main>

    <script src="../formValidation.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const buttons = document.querySelectorAll(".book-button");
            buttons.forEach(button => {
                button.addEventListener("click", function() {
                    const busnumber = this.getAttribute("data-busnumber");
                    window.location.href = `/bookings/book?busnumber=${busnumber}`;
                });
            });
        });
    </script>
  </body>
</html>
