@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


.nav-pills .nav-item {
    margin: 0 15px; 
  }

  .profile {
    margin-right: 5%;
    font-size: 24px;
  }

 .profile-image{
    border-radius: 50%;
    max-width: 60%;
    margin-top:25%;
    box-shadow: 2px 2px 8px 4px #aaaaaa;
 }
.user-details{
  padding:3%;
  box-shadow: 2px 2px 8px 4px #aaaaaa;
  border-radius: 20px;

}
 .card-detail {
  flex: 1 1 100%;
  display: flex;
  margin-top:3%;
  justify-content:space-evenly;
  margin-bottom: 0.5rem;
  font-size: 20px;
}
span>strong{
  color: rgb(198, 0, 0);
}

  @media (max-width: 767.98px) {
    .profile {
        margin-left: 45%;
      }


      .profile-image{
        max-width: 50%;
        margin-top:10%;
        margin-bottom:10%;
     }

     .card-detail {
      font-size: 18px;
    }
      
  }